<div class="app">
  <p class="title">Write things you should not forget !</p>
  <div class="entry">
    <input
      type="text"
      maxlength="10"
      required="required"
      [ngModel]="task"
      (ngModelChange)="task = $event"
    />
    <app-button color="green" text="+" (click)="addToList(task)"></app-button>
    <ul>
      <app-task
        *ngFor="let t of taskList; index as i"
        [task]="t"
        (click)="removeFromList(i)"
      >
      </app-task>
    </ul>
  </div>
</div>
